*.csv
*.toml
Non PowerShell Tools/FastFileEnum
.vscode/c_cpp_properties.json
*.zip
KAPEUpdateLog.log
KAPE-EZToolsAncillaryUpdater.ps1
*.msi
vscode.zip.aria2
*.lock
*.rs
*.exe
*.lng
*.c
*.vscode/**
*.dll
Non PowerShell Tools/Log-20.07.2023-13-59.txt
Non PowerShell Tools/Log-20.07.2023-14-00.txt
Non PowerShell Tools/Log-20.07.2023-14-07.txt
Non PowerShell Tools/Application_Associations.json
