*.toml
Non PowerShell Tools/FastFileEnum
.vscode/c_cpp_properties.json
*.zip
KAPEUpdateLog.log
KAPE-EZToolsAncillaryUpdater.ps1
*.msi
vscode.zip.aria2
*.lock
*.rs
*.lng
*.c
*.vscode/**
*.dll
wingetlogs.log
target/**
aria2c/**
*.log
*.lzma
*.txt
Invoke-CradleCrafter/**
*.csv
Non PowerShell Tools/tiny11/test.cs
